flows_user-iot.json
[{"id":"162b18ba.b6d5bf","type":"tab","label":"Temperature observe","disabled":false,"info":""},{"id":"bca9fdad.0a306","type":"tab","label":"Controls management","disabled":false,"info":""},{"id":"bb9dddf8.757a9","type":"tab","label":"Thingspeak publication","disabled":false,"info":""},{"id":"986fcf97.192e7","type":"tab","label":"Get status","disabled":false,"info":""},{"id":"b19e7fa2.2a4cc","type":"subflow","name":"Set LEDs","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"4e1ae566.c00894"}]}],"out":[{"x":660,"y":100,"wires":[{"id":"65e4829f.a8f944","port":0}]},{"x":640,"y":180,"wires":[{"id":"65e4829f.a8f944","port":1}]},{"x":620,"y":240,"wires":[{"id":"65e4829f.a8f944","port":2}]}]},{"id":"8a9a8a88.ca1ed","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"House Thermostat","hideToolbar":"false","allowSwipe":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"41bf1a8c.2ffa6c","type":"ui_group","z":"","name":"Room 1","tab":"9ba36d27.0853f8","order":1,"disp":false,"width":"6","collapse":false},{"id":"3d47507d.117d8","type":"ui_group","z":"","name":"Room 2","tab":"9ba36d27.0853f8","order":2,"disp":false,"width":"6","collapse":false},{"id":"9ba36d27.0853f8","type":"ui_tab","z":"","name":"Household","icon":"dashboard","order":1},{"id":"24c8020b.12a42e","type":"ui_group","z":"","name":"Room 3","tab":"9ba36d27.0853f8","order":3,"disp":false,"width":"6","collapse":false},{"id":"e6ad5152.4ad2a","type":"ui_group","z":"","name":"Room 4","tab":"9ba36d27.0853f8","order":4,"disp":false,"width":"6","collapse":false},{"id":"9ae48478.34a02","type":"mqtt-broker","z":"","name":"Thingspeak Broker","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33444e6a.3cf4ea","type":"ui_group","z":"","name":"House controls","tab":"9ba36d27.0853f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"381357f2.6ad87","type":"ui_tab","z":"","name":"Charts","icon":"fa-line-chart","order":2},{"id":"e0ede54c.052198","type":"ui_group","z":"","name":"House Chart","tab":"381357f2.6ad87","order":1,"disp":true,"width":"12","collapse":false},{"id":"4485a3a6.7e585c","type":"ui_group","z":"","name":"Rooms Chart","tab":"381357f2.6ad87","order":2,"disp":true,"width":"12","collapse":false},{"id":"625d222a.1307f4","type":"ui_group","z":"","name":"Functions","tab":"381357f2.6ad87","order":7,"disp":false,"width":"8","collapse":false},{"id":"1c34babb.506415","type":"ui_group","z":"","name":"E-mail alert","tab":"9ba36d27.0853f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"8b7b46ac.f91088","type":"ui_group","z":"","name":"Room 1","tab":"381357f2.6ad87","order":3,"disp":true,"width":"4","collapse":false},{"id":"4e3e0ae.31fe1f4","type":"ui_group","z":"","name":"Room 2","tab":"381357f2.6ad87","order":4,"disp":true,"width":"4","collapse":false},{"id":"558d2d9c.7fabf4","type":"ui_group","z":"","name":"Room 3","tab":"381357f2.6ad87","order":5,"disp":true,"width":"4","collapse":false},{"id":"1ed0794c.accce7","type":"ui_group","z":"","name":"Room 4","tab":"381357f2.6ad87","order":6,"disp":true,"width":"4","collapse":false},{"id":"d7f0b5b9.ddf51","type":"coap request","z":"162b18ba.b6d5bf","method":"GET","observe":true,"url":"coap://[aaaa::212:7402:2:202]/temperature","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 1","x":400,"y":80,"wires":[["ecc4ea7e.134878","6094edae.314ae4"]]},{"id":"ecc4ea7e.134878","type":"ui_gauge","z":"162b18ba.b6d5bf","name":"","group":"41bf1a8c.2ffa6c","order":1,"width":"0","height":"0","gtype":"gage","title":"Room 1","label":"degrees","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"17","seg2":"24","x":660,"y":60,"wires":[]},{"id":"c745d01e.c1424","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Heating","group":"3d47507d.117d8","order":2,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"heat2","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":80,"wires":[["f1affc16.41ce78"]]},{"id":"b0c45bf7.eff3e8","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Ventilation","group":"3d47507d.117d8","order":3,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":630,"y":260,"wires":[["ef1e22ba.2d4cd8"]]},{"id":"6a5ae73b.6496","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Air conditioning","group":"3d47507d.117d8","order":4,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"node2","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":440,"wires":[["46990ce.3a8e874"]]},{"id":"f1affc16.41ce78","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]/leds?color=r","content-format":"text/plain","raw-buffer":false,"name":"HEAT 2","x":860,"y":80,"wires":[["c745d01e.c1424","31065cca.8bc58c"]]},{"id":"46990ce.3a8e874","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]/leds?color=b","content-format":"text/plain","raw-buffer":false,"name":"CONDITIONING 2","x":890,"y":440,"wires":[["6a5ae73b.6496","31065cca.8bc58c"]]},{"id":"ef1e22ba.2d4cd8","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7403:3:303]/leds?color=g","content-format":"text/plain","raw-buffer":false,"name":"VENTILATION 2","x":880,"y":260,"wires":[["b0c45bf7.eff3e8"]]},{"id":"85cd0664.e55008","type":"inject","z":"162b18ba.b6d5bf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":220,"wires":[["d7f0b5b9.ddf51","e35d470b.11f76","b197938e.eb5c88","d5766b8a.a378c"]]},{"id":"b097447b.72f628","type":"inject","z":"bca9fdad.0a306","name":"","topic":"","payload":"mode=off","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":320,"wires":[["4887328c.8e20f4","2a5f5f1a.e33668","2249b594.b97cba"]]},{"id":"e35d470b.11f76","type":"coap request","z":"162b18ba.b6d5bf","method":"GET","observe":true,"url":"coap://[aaaa::212:7403:3:303]/temperature","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 2","x":400,"y":180,"wires":[["72a603c7.61e804","fb305456.5248"]]},{"id":"72a603c7.61e804","type":"ui_gauge","z":"162b18ba.b6d5bf","name":"","group":"3d47507d.117d8","order":1,"width":"0","height":"0","gtype":"gage","title":"Room 2","label":"degrees","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"17","seg2":"24","x":660,"y":160,"wires":[]},{"id":"d137ab33.0018a","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Heating","group":"41bf1a8c.2ffa6c","order":2,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"[aaaa::212:7402:2:202]","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":40,"wires":[["acd29d04.87212"]]},{"id":"99f412c0.b70918","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Ventilation","group":"41bf1a8c.2ffa6c","order":3,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":630,"y":220,"wires":[["21707c27.ea3194"]]},{"id":"b0d44f9e.68599","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Air conditioning","group":"41bf1a8c.2ffa6c","order":4,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"node1","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":400,"wires":[["f38e5825.0bd1f8"]]},{"id":"acd29d04.87212","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]/leds?color=r","content-format":"text/plain","raw-buffer":false,"name":"HEAT 1","x":860,"y":40,"wires":[["d137ab33.0018a","31065cca.8bc58c"]]},{"id":"f38e5825.0bd1f8","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]/leds?color=b","content-format":"text/plain","raw-buffer":false,"name":"CONDITIONING 1","x":890,"y":400,"wires":[["b0d44f9e.68599","31065cca.8bc58c"]]},{"id":"21707c27.ea3194","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7402:2:202]/leds?color=g","content-format":"text/plain","raw-buffer":false,"name":"VENTILATION 1","x":880,"y":220,"wires":[["99f412c0.b70918"]]},{"id":"b197938e.eb5c88","type":"coap request","z":"162b18ba.b6d5bf","method":"GET","observe":true,"url":"coap://[aaaa::212:7404:4:404]/temperature","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 3","x":400,"y":280,"wires":[["e784bfd6.540288","57b9e11a.3159b"]]},{"id":"e784bfd6.540288","type":"ui_gauge","z":"162b18ba.b6d5bf","name":"","group":"24c8020b.12a42e","order":1,"width":0,"height":0,"gtype":"gage","title":"Room 3","label":"degrees","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"17","seg2":"24","x":660,"y":260,"wires":[]},{"id":"d5766b8a.a378c","type":"coap request","z":"162b18ba.b6d5bf","method":"GET","observe":true,"url":"coap://[aaaa::212:7405:5:505]/temperature","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 4","x":400,"y":380,"wires":[["fd825083.b0576","591ef06b.b93b6"]]},{"id":"fd825083.b0576","type":"ui_gauge","z":"162b18ba.b6d5bf","name":"","group":"e6ad5152.4ad2a","order":1,"width":0,"height":0,"gtype":"gage","title":"Room 4","label":"degrees","format":"{{value}}","min":"10","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"17","seg2":"24","x":660,"y":360,"wires":[]},{"id":"f36c7ff.ece18","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Heating","group":"24c8020b.12a42e","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"heat3","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":120,"wires":[["b46ed5a1.6fafb8"]]},{"id":"f051f814.1b0788","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Ventilation","group":"24c8020b.12a42e","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":630,"y":300,"wires":[["4c5cfe0f.cc34a"]]},{"id":"c54f21e4.607c2","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Air conditioning","group":"24c8020b.12a42e","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"node3","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":480,"wires":[["ac673fc2.b6e5c8"]]},{"id":"b46ed5a1.6fafb8","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]/leds?color=r","content-format":"text/plain","raw-buffer":false,"name":"HEAT 3","x":860,"y":120,"wires":[["f36c7ff.ece18","31065cca.8bc58c"]]},{"id":"ac673fc2.b6e5c8","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]/leds?color=b","content-format":"text/plain","raw-buffer":false,"name":"CONDITIONING 3","x":890,"y":480,"wires":[["c54f21e4.607c2","31065cca.8bc58c"]]},{"id":"4c5cfe0f.cc34a","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7404:4:404]/leds?color=g","content-format":"text/plain","raw-buffer":false,"name":"VENTILATION 3","x":880,"y":300,"wires":[["f051f814.1b0788"]]},{"id":"b5c953dc.aacc98","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Heating","group":"e6ad5152.4ad2a","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"heat4","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":160,"wires":[["418d8c07.6c8c2c"]]},{"id":"676f805f.957658","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Ventilation","group":"e6ad5152.4ad2a","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":630,"y":340,"wires":[["5cde1d21.4e72dc"]]},{"id":"d29ca62a.128a5","type":"ui_switch","z":"bca9fdad.0a306","name":"","label":"Air conditioning","group":"e6ad5152.4ad2a","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"node4","style":"","onvalue":"mode=on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"mode=off","offvalueType":"str","officon":"","offcolor":"","x":640,"y":520,"wires":[["cacd4ead.d1a9f"]]},{"id":"418d8c07.6c8c2c","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]/leds?color=r","content-format":"text/plain","raw-buffer":false,"name":"HEAT 4","x":860,"y":160,"wires":[["b5c953dc.aacc98","31065cca.8bc58c"]]},{"id":"cacd4ead.d1a9f","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]/leds?color=b","content-format":"text/plain","raw-buffer":false,"name":"CONDITIONING 4","x":890,"y":520,"wires":[["d29ca62a.128a5","31065cca.8bc58c"]]},{"id":"5cde1d21.4e72dc","type":"coap request","z":"bca9fdad.0a306","method":"POST","observe":false,"url":"coap://[aaaa::212:7405:5:505]/leds?color=g","content-format":"text/plain","raw-buffer":false,"name":"VENTILATION 4","x":880,"y":340,"wires":[["676f805f.957658"]]},{"id":"21597aa3.093f86","type":"mqtt in","z":"bb9dddf8.757a9","name":"subscribe temp house","topic":"channels/851882/subscribe/json/NBTNJCPF9CV4C96N","qos":"0","broker":"9ae48478.34a02","x":140,"y":40,"wires":[["23df2039.f7c3c8"]]},{"id":"f348a01e.4c7268","type":"mqtt out","z":"bb9dddf8.757a9","name":"publish temp house","topic":"channels/851882/publish/5M6JE0B87TULE88F","qos":"0","retain":"","broker":"9ae48478.34a02","x":700,"y":820,"wires":[]},{"id":"95594fd4.92a3c8","type":"inject","z":"bb9dddf8.757a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":700,"wires":[["a93fac96.67fcd","e564853d.e08278"]]},{"id":"127322cb.7e6d45","type":"debug","z":"bb9dddf8.757a9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":40,"wires":[]},{"id":"a93fac96.67fcd","type":"function","z":"bb9dddf8.757a9","name":"calculate room avg temp","func":"var mote1 = global.get('mote1');\nvar mote2 = global.get('mote2');\nvar mote3 = global.get('mote3');\nvar mote4 = global.get('mote4');\n\nvar totalSum = parseInt(mote1.sum) + parseInt(mote2.sum) + parseInt(mote3.sum) + parseInt(mote4.sum);\nvar totalCount = parseInt(mote1.count) + parseInt(mote2.count) + parseInt(mote3.count) + parseInt(mote4.count);\n\nvar avg = totalSum/totalCount;\navg = Math.round(avg*10)/10;\nmsg.payload=\"field1=\"+avg;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":820,"wires":[["f348a01e.4c7268","f8efcf70.494bb8"]]},{"id":"edba9182.437758","type":"ui_toast","z":"bca9fdad.0a306","position":"bottom right","displayTime":"4","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1190,"y":440,"wires":[]},{"id":"4dc9e21c.3b0824","type":"change","z":"bca9fdad.0a306","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"KO","fromt":"str","to":"Error: Air conditioning and Heating cannot be active at the same time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":360,"wires":[["edba9182.437758"]]},{"id":"785bcd95.2884cc","type":"ui_button","z":"bca9fdad.0a306","name":"","group":"33444e6a.3cf4ea","order":1,"width":"3","height":"1","passthru":false,"label":"Heating on","color":"","bgcolor":"#009900","icon":"","payload":"mode=on","payloadType":"str","topic":"","x":370,"y":60,"wires":[["acd29d04.87212","f1affc16.41ce78","b46ed5a1.6fafb8","418d8c07.6c8c2c"]]},{"id":"8f3f5bbf.d84458","type":"ui_button","z":"bca9fdad.0a306","name":"","group":"33444e6a.3cf4ea","order":5,"width":"3","height":"1","passthru":false,"label":"Conditioning on","color":"","bgcolor":"#090","icon":"","payload":"mode=on","payloadType":"str","topic":"","x":380,"y":420,"wires":[["cacd4ead.d1a9f","ac673fc2.b6e5c8","46990ce.3a8e874","f38e5825.0bd1f8"]]},{"id":"e2e58582.65163","type":"ui_button","z":"bca9fdad.0a306","name":"","group":"33444e6a.3cf4ea","order":3,"width":"3","height":"1","passthru":false,"label":"Ventilation on","color":"","bgcolor":"#009900","icon":"","payload":"mode=on","payloadType":"str","topic":"","x":380,"y":240,"wires":[["21707c27.ea3194","ef1e22ba.2d4cd8","4c5cfe0f.cc34a","5cde1d21.4e72dc"]]},{"id":"4887328c.8e20f4","type":"ui_button","z":"bca9fdad.0a306","name":"","group":"33444e6a.3cf4ea","order":2,"width":"3","height":"1","passthru":true,"label":"Heating off","color":"","bgcolor":"#b88","icon":"","payload":"mode=off","payloadType":"str","topic":"","x":370,"y":120,"wires":[["acd29d04.87212","f1affc16.41ce78","b46ed5a1.6fafb8","418d8c07.6c8c2c"]]},{"id":"2a5f5f1a.e33668","type":"ui_button","z":"bca9fdad.0a306","name":"","group":"33444e6a.3cf4ea","order":4,"width":"3","height":"1","passthru":true,"label":"Ventilation off","color":"","bgcolor":"#b88","icon":"","payload":"mode=off","payloadType":"str","topic":"","x":380,"y":320,"wires":[["21707c27.ea3194","ef1e22ba.2d4cd8","4c5cfe0f.cc34a","5cde1d21.4e72dc"]]},{"id":"2249b594.b97cba","type":"ui_button","z":"bca9fdad.0a306","name":"","group":"33444e6a.3cf4ea","order":6,"width":"3","height":"1","passthru":true,"label":"Conditioning off","color":"","bgcolor":"#b88","icon":"","payload":"mode=off","payloadType":"str","topic":"","x":380,"y":500,"wires":[["cacd4ead.d1a9f","ac673fc2.b6e5c8","46990ce.3a8e874","f38e5825.0bd1f8"]]},{"id":"94394086.75eca","type":"debug","z":"bb9dddf8.757a9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":600,"wires":[]},{"id":"57b9e11a.3159b","type":"function","z":"162b18ba.b6d5bf","name":"store temp 3","func":"var emptyMote={\n    count: 0,\n    sum: 0\n};\n\nvar moteName = 'mote3';\n\nvar mote = global.get(moteName) || emptyMote;\nvar count = mote.count;\nvar sum = mote.sum;\n\nsum = parseInt(sum) + parseInt(msg.payload);\ncount = count + 1;\n\nmote.sum = sum;\nmote.count = count;\nglobal.set(moteName, mote);\n\n//temperature notification object\nvar tempAlertInfo = {};\ntempAlertInfo.varNameOldTemp = 'alertTemp3';\ntempAlertInfo.roomName = \"Room 3\"\ntempAlertInfo.temperature = parseInt(msg.payload);\n\nmsg.payload = tempAlertInfo;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["b2cf5a5a.c9ae58"]]},{"id":"591ef06b.b93b6","type":"function","z":"162b18ba.b6d5bf","name":"store temp 4","func":"var emptyMote={\n    count: 0,\n    sum: 0\n};\n\nvar moteName = 'mote4';\n\nvar mote = global.get(moteName) || emptyMote;\nvar count = mote.count;\nvar sum = mote.sum;\n\nsum = parseInt(sum) + parseInt(msg.payload);\ncount = count + 1;\n\nmote.sum = sum;\nmote.count = count;\nglobal.set(moteName, mote);\n\n//temperature notification object\nvar tempAlertInfo = {};\ntempAlertInfo.varNameOldTemp = 'alertTemp4';\ntempAlertInfo.roomName = \"Room 4\"\ntempAlertInfo.temperature = parseInt(msg.payload);\n\nmsg.payload = tempAlertInfo;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":400,"wires":[["b2cf5a5a.c9ae58"]]},{"id":"6094edae.314ae4","type":"function","z":"162b18ba.b6d5bf","name":"store temp 1","func":"var emptyMote={\n    count: 0,\n    sum: 0\n};\n\nvar moteName = 'mote1';\n\nvar mote = global.get(moteName) || emptyMote;\nvar count = mote.count;\nvar sum = mote.sum;\n\nsum = parseInt(sum) + parseInt(msg.payload);\ncount = count + 1;\n\nmote.sum = sum;\nmote.count = count;\nglobal.set(moteName, mote);\n\n\nvar tempAlertInfo = {};\ntempAlertInfo.varNameOldTemp = 'alertTemp1';\ntempAlertInfo.roomName = \"Room 1\"\ntempAlertInfo.temperature = parseInt(msg.payload);\n\nmsg.payload = tempAlertInfo;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["b2cf5a5a.c9ae58","97f1947d.fd7e2"]]},{"id":"b5c8c2da.4e18d8","type":"mqtt in","z":"bb9dddf8.757a9","name":"subscribe temp rooms","topic":"channels/851958/subscribe/json/CTHZRYTDT79R75B7","qos":"0","broker":"9ae48478.34a02","x":140,"y":440,"wires":[["ae891000.3134b8"]]},{"id":"44a00c39.365fdc","type":"debug","z":"bb9dddf8.757a9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":360,"wires":[]},{"id":"c49e0d51.3e2338","type":"mqtt out","z":"bb9dddf8.757a9","name":"publish temp rooms","topic":"channels/851958/publish/XA6BYIWXJ210UKS3","qos":"0","retain":"","broker":"9ae48478.34a02","x":700,"y":540,"wires":[]},{"id":"e564853d.e08278","type":"function","z":"bb9dddf8.757a9","name":"calculate mote avg temp fun","func":"function moteAvgTemp(moteName){\n\n    var mote = global.get(moteName);\n    var avg = parseInt(mote.sum)/parseInt(mote.count);\n    avg = Math.round(avg*10)/10;\n\n    return avg;\n}\n\nvar avg1 = moteAvgTemp('mote1');\nvar avg2 = moteAvgTemp('mote2');\nvar avg3 = moteAvgTemp('mote3');\nvar avg4 = moteAvgTemp('mote4');\n\n\nmsg.payload=\"field1=\"+avg1+\"&field2=\"+avg2+\"&field3=\"+avg3+\"&field4=\"+avg4;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["c49e0d51.3e2338","94394086.75eca","f8efcf70.494bb8"]]},{"id":"f8efcf70.494bb8","type":"join","z":"bb9dddf8.757a9","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":650,"y":700,"wires":[["4ca8bca3.3ffe54"]]},{"id":"4ca8bca3.3ffe54","type":"function","z":"bb9dddf8.757a9","name":"clean","func":"global.set('mote1', {count: 0,sum: 0});\nglobal.set('mote2', {count: 0,sum: 0});\nglobal.set('mote3', {count: 0,sum: 0});\nglobal.set('mote4', {count: 0,sum: 0});\nmsg.payload = 'Both published';\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":700,"wires":[[]]},{"id":"fb305456.5248","type":"function","z":"162b18ba.b6d5bf","name":"store temp 2","func":"var emptyMote={\n    count: 0,\n    sum: 0\n};\n\nvar moteName = 'mote2';\n\nvar mote = global.get(moteName) || emptyMote;\nvar count = mote.count;\nvar sum = mote.sum;\n\nsum = parseInt(sum) + parseInt(msg.payload);\ncount = count + 1;\n\nmote.sum = sum;\nmote.count = count;\nglobal.set(moteName, mote);\n\n//temperature notification object\nvar tempAlertInfo = {};\ntempAlertInfo.varNameOldTemp = 'alertTemp2';\ntempAlertInfo.roomName = \"Room 2\"\ntempAlertInfo.temperature = parseInt(msg.payload);\n\nmsg.payload = tempAlertInfo;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":200,"wires":[["b2cf5a5a.c9ae58"]]},{"id":"30a9be35.314be2","type":"ui_chart","z":"bb9dddf8.757a9","name":"Chart House","group":"e0ede54c.052198","order":1,"width":"0","height":"0","label":"Average House Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"-10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":100,"wires":[[],[]]},{"id":"23df2039.f7c3c8","type":"json","z":"bb9dddf8.757a9","name":"","property":"payload","action":"","pretty":false,"x":350,"y":40,"wires":[["127322cb.7e6d45","e4423733.7753c8"]]},{"id":"e4423733.7753c8","type":"function","z":"bb9dddf8.757a9","name":"parse field1","func":"msg.payload = msg.payload.field1;\nmsg.topic = 'House average';\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["30a9be35.314be2"]]},{"id":"ae891000.3134b8","type":"json","z":"bb9dddf8.757a9","name":"","property":"payload","action":"","pretty":false,"x":350,"y":440,"wires":[["44a00c39.365fdc","aba9c24.769994"]]},{"id":"f1766254.cd2c98","type":"ui_chart","z":"bb9dddf8.757a9","name":"Chart House","group":"4485a3a6.7e585c","order":1,"width":"0","height":"0","label":"Average House Temperature","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"-10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":440,"wires":[[],[]]},{"id":"aba9c24.769994","type":"function","z":"bb9dddf8.757a9","name":"parse field1","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = msg.payload.field1;\nmsg1.topic = 'Room 1';\n\nmsg2.payload = msg.payload.field2;\nmsg2.topic = 'Room 2';\n\nmsg3.payload = msg.payload.field3;\nmsg3.topic = 'Room 3';\n\nmsg4.payload = msg.payload.field4;\nmsg4.topic = 'Room 4';\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"x":550,"y":440,"wires":[["f1766254.cd2c98"],["f1766254.cd2c98"],["f1766254.cd2c98"],["f1766254.cd2c98"]]},{"id":"75282cab.c99a2c","type":"function","z":"bb9dddf8.757a9","name":"empty payload","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":220,"wires":[["30a9be35.314be2","f1766254.cd2c98"]]},{"id":"31065cca.8bc58c","type":"switch","z":"bca9fdad.0a306","name":"filter KO","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"KO","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":280,"wires":[["4dc9e21c.3b0824"]]},{"id":"af65f296.26d078","type":"ui_button","z":"bb9dddf8.757a9","name":"","group":"625d222a.1307f4","order":1,"width":"4","height":"1","passthru":false,"label":"Clear charts","color":"","bgcolor":"","icon":"fa-eraser","payload":"","payloadType":"str","topic":"","x":310,"y":220,"wires":[["75282cab.c99a2c"]]},{"id":"b6a84809.e60b","type":"ui_numeric","z":"162b18ba.b6d5bf","name":"","label":"Min temperature","group":"1c34babb.506415","order":3,"width":0,"height":0,"passthru":true,"topic":"mintemp","format":"{{value}}","min":0,"max":"50","step":1,"x":370,"y":520,"wires":[["e9197da2.306bd8"]]},{"id":"4495358f.6f45bc","type":"e-mail","z":"162b18ba.b6d5bf","server":"smtp.gmail.com","port":"465","secure":true,"name":"erica.tinti@yahoo.it","dname":"","x":1690,"y":100,"wires":[]},{"id":"e9197da2.306bd8","type":"function","z":"162b18ba.b6d5bf","name":"temperature range","func":"if (msg.topic == 'mintemp') {\n    global.set('minlimit', msg.payload);\n} else {\n    global.set('maxlimit', msg.payload);\n}\nmsg.payload = global.get('minlimit');\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":540,"wires":[["7830fe55.d78218"]]},{"id":"7830fe55.d78218","type":"debug","z":"162b18ba.b6d5bf","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":920,"y":540,"wires":[]},{"id":"e06dd040.e8c318","type":"ui_numeric","z":"162b18ba.b6d5bf","name":"","label":"Max temperature","group":"1c34babb.506415","order":4,"width":0,"height":0,"passthru":true,"topic":"maxtemp","format":"{{value}}","min":0,"max":"50","step":1,"x":370,"y":580,"wires":[["e9197da2.306bd8"]]},{"id":"d75164e2.b6017","type":"inject","z":"162b18ba.b6d5bf","name":"","topic":"maxtemp","payload":"40","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":580,"wires":[["e06dd040.e8c318","e9197da2.306bd8"]]},{"id":"1597b319.e05365","type":"inject","z":"162b18ba.b6d5bf","name":"","topic":"mintemp","payload":"10","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":520,"wires":[["b6a84809.e60b","e9197da2.306bd8"]]},{"id":"a64342ab.e9ee6","type":"function","z":"162b18ba.b6d5bf","name":"set notification","func":"global.set('notification', msg.payload);\nif (msg.payload) {\n    msg.payload = \"E-mail alert: ON\";\n    return msg;\n} else {\n    msg.payload = \"E-mail alert: OFF\";\n    return msg;\n}","outputs":1,"noerr":0,"x":640,"y":640,"wires":[["1912d6a4.970071"]]},{"id":"f8879288.6af798","type":"inject","z":"162b18ba.b6d5bf","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":720,"wires":[["8e6eaf77.90fbb","a64342ab.e9ee6"]]},{"id":"106f93b7.d027dc","type":"switch","z":"162b18ba.b6d5bf","name":"","property":"sendMail","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":2,"x":1170,"y":140,"wires":[["47517f29.c68288","348feb23.3c3414"],["3e6aa368.087334"]]},{"id":"3e6aa368.087334","type":"debug","z":"162b18ba.b6d5bf","name":"no alert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":220,"wires":[]},{"id":"47517f29.c68288","type":"change","z":"162b18ba.b6d5bf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":140,"wires":[["2a6f7486.67a724"]]},{"id":"b2cf5a5a.c9ae58","type":"function","z":"162b18ba.b6d5bf","name":"check temp Alert","func":"var tempAlertInfo = msg.payload;\nvar temp = tempAlertInfo.temperature;\n\n\nvar notification = global.get('notification');\nvar oldTemp = flow.get(tempAlertInfo.varNameOldTemp) || null;\ntempAlertInfo.oldTemp = oldTemp;\n\nvar minTemp = global.get('minlimit');\nvar maxTemp = global.get('maxlimit');\n\n\ntempAlertInfo.sendMail = false;\n\nif(notification && temp != oldTemp && temp > maxTemp){\n\ttempAlertInfo.message = \"Warning! Temperature in \"+tempAlertInfo.roomName+\" is exceeding the maximum threshold (\"+maxTemp+\" 째C). Current temperature is \" + temp + \" 째C.\";\n\ttempAlertInfo.topic = tempAlertInfo.roomName+\" alert!\";\n\ttempAlertInfo.sendMail = true;\n\tflow.set(tempAlertInfo.varNameOldTemp, temp);\n} else if (notification && temp != oldTemp && temp < minTemp){\n\ttempAlertInfo.message = \"Warning! Temperature in \"+tempAlertInfo.roomName+\" is exceeding the minimum threshold (\"+minTemp+\" 째C). Current temperature is \" + temp + \" 째C.\";\n\ttempAlertInfo.topic = tempAlertInfo.roomName+\" alert!\";\n\ttempAlertInfo.sendMail = true;\n\tflow.set(tempAlertInfo.varNameOldTemp, temp);\n}\n\nmsg = tempAlertInfo;\nreturn msg;\n","outputs":1,"noerr":0,"x":950,"y":220,"wires":[["106f93b7.d027dc","3401c7b1.967a6"]]},{"id":"3401c7b1.967a6","type":"debug","z":"162b18ba.b6d5bf","name":"check temp debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1210,"y":300,"wires":[]},{"id":"348feb23.3c3414","type":"debug","z":"162b18ba.b6d5bf","name":"send alert","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1240,"y":60,"wires":[]},{"id":"8e6eaf77.90fbb","type":"ui_switch","z":"162b18ba.b6d5bf","name":"","label":"E-mail notification","group":"1c34babb.506415","order":1,"width":"6","height":"1","passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":370,"y":640,"wires":[["a64342ab.e9ee6"]]},{"id":"1912d6a4.970071","type":"ui_toast","z":"162b18ba.b6d5bf","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":930,"y":640,"wires":[]},{"id":"2a6f7486.67a724","type":"e-mail","z":"162b18ba.b6d5bf","server":"smtp.gmail.com","port":"465","secure":true,"name":"alizee_se90@yahoo.it","dname":"","x":1700,"y":180,"wires":[]},{"id":"a8002cc1.9c6288","type":"ui_button","z":"986fcf97.192e7","name":"","group":"625d222a.1307f4","order":2,"width":"4","height":"1","passthru":false,"label":"get status","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":280,"wires":[["5cd285b1.e5289c","d1179428.86819","434e6e96.0e94b8","7dc43790.203aa"]]},{"id":"6ca716b9.149a4","type":"ui_text","z":"986fcf97.192e7","group":"8b7b46ac.f91088","order":0,"width":0,"height":0,"name":"heat1","label":"Heating","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":850,"y":60,"wires":[]},{"id":"4cc25dbe.5bd04c","type":"ui_text","z":"986fcf97.192e7","group":"4e3e0ae.31fe1f4","order":1,"width":0,"height":0,"name":"heat2","label":"Heating","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":850,"y":180,"wires":[]},{"id":"77127fb3.96ae88","type":"ui_text","z":"986fcf97.192e7","group":"558d2d9c.7fabf4","order":1,"width":0,"height":0,"name":"heat3","label":"Heating","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":850,"y":300,"wires":[]},{"id":"d63ad6d0.cd9a78","type":"ui_text","z":"986fcf97.192e7","group":"1ed0794c.accce7","order":1,"width":0,"height":0,"name":"heat4","label":"Heating","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":850,"y":420,"wires":[]},{"id":"4ea0ada.783e454","type":"ui_text","z":"986fcf97.192e7","group":"8b7b46ac.f91088","order":0,"width":0,"height":0,"name":"ventilation1","label":"Ventilation","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":870,"y":100,"wires":[]},{"id":"12b21d61.4c8a3b","type":"ui_text","z":"986fcf97.192e7","group":"4e3e0ae.31fe1f4","order":2,"width":0,"height":0,"name":"ventilation2","label":"Ventilation","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":870,"y":220,"wires":[]},{"id":"4fda1901.7cb03","type":"ui_text","z":"986fcf97.192e7","group":"558d2d9c.7fabf4","order":2,"width":0,"height":0,"name":"ventilation3","label":"Ventilation","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":870,"y":340,"wires":[]},{"id":"59fd3d7b.35c7ac","type":"ui_text","z":"986fcf97.192e7","group":"1ed0794c.accce7","order":2,"width":0,"height":0,"name":"ventilation4","label":"Ventilation","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":870,"y":460,"wires":[]},{"id":"38153bb6.fd887c","type":"ui_text","z":"986fcf97.192e7","group":"8b7b46ac.f91088","order":0,"width":0,"height":0,"name":"conditioning1","label":"Conditioning","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":880,"y":140,"wires":[]},{"id":"739befd6.eee278","type":"ui_text","z":"986fcf97.192e7","group":"4e3e0ae.31fe1f4","order":3,"width":0,"height":0,"name":"conditioning2","label":"Conditioning","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":880,"y":260,"wires":[]},{"id":"456869d6.5fc12","type":"ui_text","z":"986fcf97.192e7","group":"558d2d9c.7fabf4","order":3,"width":0,"height":0,"name":"conditioning3","label":"Conditioning","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":880,"y":380,"wires":[]},{"id":"fcf4507e.07cd48","type":"ui_text","z":"986fcf97.192e7","group":"1ed0794c.accce7","order":3,"width":0,"height":0,"name":"conditioning4","label":"Conditioning","format":"<font color={{msg.payload}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-spread","x":880,"y":500,"wires":[]},{"id":"5cd285b1.e5289c","type":"coap request","z":"986fcf97.192e7","method":"GET","observe":false,"url":"coap://[aaaa::212:7402:2:202]/status","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 1","x":380,"y":100,"wires":[["dd9609ab.cce2b8"]]},{"id":"d1179428.86819","type":"coap request","z":"986fcf97.192e7","method":"GET","observe":false,"url":"coap://[aaaa::212:7403:3:303]/status","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 2","x":380,"y":220,"wires":[["990f900e.d502e"]]},{"id":"434e6e96.0e94b8","type":"coap request","z":"986fcf97.192e7","method":"GET","observe":false,"url":"coap://[aaaa::212:7404:4:404]/status","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 3","x":380,"y":340,"wires":[["41b7e8d8.58ce48"]]},{"id":"7dc43790.203aa","type":"coap request","z":"986fcf97.192e7","method":"GET","observe":false,"url":"coap://[aaaa::212:7405:5:505]/status","content-format":"text/plain","raw-buffer":false,"name":"COAP GET 4","x":380,"y":460,"wires":[["326ed911.819fc6"]]},{"id":"4e1ae566.c00894","type":"json","z":"b19e7fa2.2a4cc","name":"","property":"payload","action":"obj","pretty":true,"x":210,"y":160,"wires":[["65e4829f.a8f944"]]},{"id":"65e4829f.a8f944","type":"function","z":"b19e7fa2.2a4cc","name":"","func":"var x = msg.payload;\nif (x[0].heating == 1) {\n    var h = {payload : \"red\"};\n} else {\n    var h = {payload : \"grey\"};\n}\nif (x[2].ventilation == 1) {\n    var v = {payload : \"lime\"};\n} else {\n    var v = {payload : \"grey\"};\n}\nif (x[1].conditioning == 1) {\n    var c = {payload : \"blue\"};\n} else {\n    var c = {payload : \"grey\"};\n}\nreturn [h, v, c];","outputs":3,"noerr":0,"x":410,"y":160,"wires":[[],[],[]]},{"id":"990f900e.d502e","type":"subflow:b19e7fa2.2a4cc","z":"986fcf97.192e7","name":"","x":620,"y":220,"wires":[["4cc25dbe.5bd04c"],["12b21d61.4c8a3b"],["739befd6.eee278"]]},{"id":"dd9609ab.cce2b8","type":"subflow:b19e7fa2.2a4cc","z":"986fcf97.192e7","name":"","x":620,"y":100,"wires":[["6ca716b9.149a4"],["4ea0ada.783e454"],["38153bb6.fd887c"]]},{"id":"41b7e8d8.58ce48","type":"subflow:b19e7fa2.2a4cc","z":"986fcf97.192e7","name":"","x":620,"y":340,"wires":[["77127fb3.96ae88"],["4fda1901.7cb03"],["456869d6.5fc12"]]},{"id":"326ed911.819fc6","type":"subflow:b19e7fa2.2a4cc","z":"986fcf97.192e7","name":"","x":620,"y":460,"wires":[["d63ad6d0.cd9a78","7ff1b9f8.8b1ba"],["59fd3d7b.35c7ac","7ff1b9f8.8b1ba"],["fcf4507e.07cd48","7ff1b9f8.8b1ba"]]},{"id":"7ff1b9f8.8b1ba","type":"debug","z":"986fcf97.192e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":560,"wires":[]},{"id":"97f1947d.fd7e2","type":"debug","z":"162b18ba.b6d5bf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":100,"wires":[]}]