node-red-dashboard.json
[
    {
        "id": "6be78bf1.74a41c",
        "type": "tab",
        "label": "Room 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2732bf5.cd5b98",
        "type": "tab",
        "label": "Room 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "17729526.555f63",
        "type": "tab",
        "label": "Room 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0a887e5.60bbc",
        "type": "tab",
        "label": "Room 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c3bb638.fd3782",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a9a8a88.ca1ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "933f3bc4.d65c4",
        "type": "coap-server",
        "name": "Hello CoAP Server",
        "port": "5683"
    },
    {
        "id": "a9142568.55f728",
        "type": "ui_group",
        "z": "",
        "name": "Room 1",
        "tab": "49901ab2.4aa854",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "daa3a66b.b751b",
        "type": "ui_group",
        "z": "",
        "name": "Room 2",
        "tab": "49901ab2.4aa854",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "49901ab2.4aa854",
        "type": "ui_tab",
        "z": "",
        "name": "Household",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4ebfc90a.e2073",
        "type": "ui_group",
        "z": "",
        "name": "Room 3",
        "tab": "49901ab2.4aa854",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ecc1fbf5.602a28",
        "type": "ui_group",
        "z": "",
        "name": "Room 4",
        "tab": "49901ab2.4aa854",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29e754c1.933584",
        "type": "json",
        "z": "3c3bb638.fd3782",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "c12bd315.e78b1"
            ]
        ]
    },
    {
        "id": "c12bd315.e78b1",
        "type": "file",
        "z": "3c3bb638.fd3782",
        "name": "stampa su file",
        "filename": "provaScritturaGet",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4601796e.491798",
        "type": "inject",
        "z": "3c3bb638.fd3782",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "f552b187.dd8388"
            ]
        ]
    },
    {
        "id": "f552b187.dd8388",
        "type": "http request",
        "z": "3c3bb638.fd3782",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://api.thingspeak.com/channels/562389/feeds.json",
        "tls": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "29e754c1.933584",
                "e3b113f4.fe5fd"
            ]
        ]
    },
    {
        "id": "e3b113f4.fe5fd",
        "type": "debug",
        "z": "3c3bb638.fd3782",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "95755bda.36a8d8",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7402:2:202]/temperature/observe",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 1",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "f87df240.8a3e38",
                "9e9cc9e3.78e278"
            ]
        ]
    },
    {
        "id": "f87df240.8a3e38",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "9e9cc9e3.78e278",
        "type": "ui_gauge",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "a9142568.55f728",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "88b8d324.dfb4a",
        "type": "ui_switch",
        "z": "6be78bf1.74a41c",
        "name": "",
        "label": "Heater",
        "group": "a9142568.55f728",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "6ca45c50.a2b55c"
            ]
        ]
    },
    {
        "id": "7b4f7930.5426f",
        "type": "ui_switch",
        "z": "6be78bf1.74a41c",
        "name": "",
        "label": "Ventilation",
        "group": "a9142568.55f728",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "dc8c29f6.2191f"
            ]
        ]
    },
    {
        "id": "4de43991.588d08",
        "type": "ui_switch",
        "z": "6be78bf1.74a41c",
        "name": "",
        "label": "Air conditioning",
        "group": "a9142568.55f728",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 360,
        "wires": [
            [
                "52abd896.a42148"
            ]
        ]
    },
    {
        "id": "6ca45c50.a2b55c",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 1",
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "52abd896.a42148",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 1",
        "x": 450,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dc8c29f6.2191f",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 1",
        "x": 440,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8b794e51.de06b",
        "type": "ui_button",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "a9142568.55f728",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get temperature",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "95755bda.36a8d8"
            ]
        ]
    },
    {
        "id": "6f27cf39.7e148",
        "type": "ui_button",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "a9142568.55f728",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "get status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "a30874cb.27537"
            ]
        ]
    },
    {
        "id": "a30874cb.27537",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/status",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "8979a7c4.b617e",
                "2f0aba38.3ccd46"
            ]
        ]
    },
    {
        "id": "8979a7c4.b617e",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "2f0aba38.3ccd46",
        "type": "json",
        "z": "6be78bf1.74a41c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 580,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d8869795.66ff28",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7403:3:303]/temperature/observe",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 2",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "72394a92.02cad4",
                "81229520.75a5c"
            ]
        ]
    },
    {
        "id": "72394a92.02cad4",
        "type": "debug",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ed9a39b.f1840c",
        "type": "ui_button",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "group": "daa3a66b.b751b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get temperature",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "d8869795.66ff28"
            ]
        ]
    },
    {
        "id": "81229520.75a5c",
        "type": "ui_gauge",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "group": "daa3a66b.b751b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "c81516a7.8f1ad8",
        "type": "coap request",
        "z": "17729526.555f63",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7404:4:404]/temperature/observe",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 3",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "85d30f0a.31c14",
                "e4d8d01f.a72f88"
            ]
        ]
    },
    {
        "id": "85d30f0a.31c14",
        "type": "debug",
        "z": "17729526.555f63",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "e4d8d01f.a72f88",
        "type": "ui_gauge",
        "z": "17729526.555f63",
        "name": "",
        "group": "4ebfc90a.e2073",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 3",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "20921f05.51d1c",
        "type": "ui_button",
        "z": "17729526.555f63",
        "name": "",
        "group": "4ebfc90a.e2073",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get temperature 3",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "c81516a7.8f1ad8"
            ]
        ]
    },
    {
        "id": "2108f63f.1092d2",
        "type": "coap request",
        "z": "c0a887e5.60bbc",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7405:5:505]/temperature/observe",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 4",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "172e24c3.d050d3",
                "fdf97c08.7bcbd8"
            ]
        ]
    },
    {
        "id": "172e24c3.d050d3",
        "type": "debug",
        "z": "c0a887e5.60bbc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "fdf97c08.7bcbd8",
        "type": "ui_gauge",
        "z": "c0a887e5.60bbc",
        "name": "",
        "group": "ecc1fbf5.602a28",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 4",
        "label": "units",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "5212fb3c.d947ac",
        "type": "ui_button",
        "z": "c0a887e5.60bbc",
        "name": "",
        "group": "ecc1fbf5.602a28",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get temperature 4",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "2108f63f.1092d2"
            ]
        ]
    },
    {
        "id": "6695a922.8d029",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Heater",
        "group": "daa3a66b.b751b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "5691933e.0bbf9c"
            ]
        ]
    },
    {
        "id": "a03132e4.b8595",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Ventilation",
        "group": "daa3a66b.b751b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "8ec52590.f46828"
            ]
        ]
    },
    {
        "id": "8bcc6fc1.6663d8",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Air conditioning",
        "group": "daa3a66b.b751b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "537447a2.e222a"
            ]
        ]
    },
    {
        "id": "5691933e.0bbf9c",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 2",
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "537447a2.e222a",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 2",
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8ec52590.f46828",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 2",
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "68f2cf.d8756d3",
        "type": "ui_switch",
        "z": "17729526.555f63",
        "name": "",
        "label": "Heater",
        "group": "4ebfc90a.e2073",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "de7d37e5.4baf68"
            ]
        ]
    },
    {
        "id": "17e35360.d9335d",
        "type": "ui_switch",
        "z": "17729526.555f63",
        "name": "",
        "label": "Ventilation",
        "group": "4ebfc90a.e2073",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "6b4fb9ea.bf2018"
            ]
        ]
    },
    {
        "id": "2947bd90.70dc42",
        "type": "ui_switch",
        "z": "17729526.555f63",
        "name": "",
        "label": "Air conditioning",
        "group": "4ebfc90a.e2073",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "f5fa5e4c.7c3148"
            ]
        ]
    },
    {
        "id": "de7d37e5.4baf68",
        "type": "coap request",
        "z": "17729526.555f63",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 3",
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f5fa5e4c.7c3148",
        "type": "coap request",
        "z": "17729526.555f63",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 3",
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "6b4fb9ea.bf2018",
        "type": "coap request",
        "z": "17729526.555f63",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 3",
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bf666b6b.cb3cd8",
        "type": "ui_switch",
        "z": "c0a887e5.60bbc",
        "name": "",
        "label": "Heater",
        "group": "ecc1fbf5.602a28",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "59e380ae.7e8cf"
            ]
        ]
    },
    {
        "id": "8846c787.529dd",
        "type": "ui_switch",
        "z": "c0a887e5.60bbc",
        "name": "",
        "label": "Ventilation",
        "group": "ecc1fbf5.602a28",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "d55f3774.a341f8"
            ]
        ]
    },
    {
        "id": "1b2a7a8b.c3518d",
        "type": "ui_switch",
        "z": "c0a887e5.60bbc",
        "name": "",
        "label": "Air conditioning",
        "group": "ecc1fbf5.602a28",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "56e741f3.b59bd"
            ]
        ]
    },
    {
        "id": "59e380ae.7e8cf",
        "type": "coap request",
        "z": "c0a887e5.60bbc",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 4",
        "x": 400,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "56e741f3.b59bd",
        "type": "coap request",
        "z": "c0a887e5.60bbc",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 4",
        "x": 430,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d55f3774.a341f8",
        "type": "coap request",
        "z": "c0a887e5.60bbc",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 4",
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    }
]
