node-red-dashboard.json
[
    {
        "id": "6be78bf1.74a41c",
        "type": "tab",
        "label": "Temperature observe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2732bf5.cd5b98",
        "type": "tab",
        "label": "Controls management",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c3bb638.fd3782",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8a9a8a88.ca1ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a9142568.55f728",
        "type": "ui_group",
        "z": "",
        "name": "Room 1",
        "tab": "49901ab2.4aa854",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "daa3a66b.b751b",
        "type": "ui_group",
        "z": "",
        "name": "Room 2",
        "tab": "49901ab2.4aa854",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "49901ab2.4aa854",
        "type": "ui_tab",
        "z": "",
        "name": "Household",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4ebfc90a.e2073",
        "type": "ui_group",
        "z": "",
        "name": "Room 3",
        "tab": "49901ab2.4aa854",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ecc1fbf5.602a28",
        "type": "ui_group",
        "z": "",
        "name": "Room 4",
        "tab": "49901ab2.4aa854",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "29e754c1.933584",
        "type": "json",
        "z": "3c3bb638.fd3782",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "c12bd315.e78b1"
            ]
        ]
    },
    {
        "id": "c12bd315.e78b1",
        "type": "file",
        "z": "3c3bb638.fd3782",
        "name": "stampa su file",
        "filename": "provaScritturaGet",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4601796e.491798",
        "type": "inject",
        "z": "3c3bb638.fd3782",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "f552b187.dd8388"
            ]
        ]
    },
    {
        "id": "f552b187.dd8388",
        "type": "http request",
        "z": "3c3bb638.fd3782",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://api.thingspeak.com/channels/562389/feeds.json",
        "tls": "",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "29e754c1.933584",
                "e3b113f4.fe5fd"
            ]
        ]
    },
    {
        "id": "e3b113f4.fe5fd",
        "type": "debug",
        "z": "3c3bb638.fd3782",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "95755bda.36a8d8",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7402:2:202]/temperature",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 1",
        "x": 420,
        "y": 80,
        "wires": [
            [
                "9e9cc9e3.78e278",
                "f87df240.8a3e38"
            ]
        ]
    },
    {
        "id": "f87df240.8a3e38",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "9e9cc9e3.78e278",
        "type": "ui_gauge",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "a9142568.55f728",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 1",
        "label": "degrees",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "6f27cf39.7e148",
        "type": "ui_button",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "a9142568.55f728",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "get status",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "a30874cb.27537"
            ]
        ]
    },
    {
        "id": "a30874cb.27537",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/status",
        "content-format": "application/json",
        "raw-buffer": false,
        "name": "",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "8979a7c4.b617e",
                "2f0aba38.3ccd46"
            ]
        ]
    },
    {
        "id": "8979a7c4.b617e",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "2f0aba38.3ccd46",
        "type": "json",
        "z": "6be78bf1.74a41c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 580,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "6695a922.8d029",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Heater",
        "group": "daa3a66b.b751b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "5691933e.0bbf9c"
            ]
        ]
    },
    {
        "id": "a03132e4.b8595",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Ventilation",
        "group": "daa3a66b.b751b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "8ec52590.f46828"
            ]
        ]
    },
    {
        "id": "8bcc6fc1.6663d8",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Air conditioning",
        "group": "daa3a66b.b751b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "537447a2.e222a"
            ]
        ]
    },
    {
        "id": "5691933e.0bbf9c",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 2",
        "x": 680,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "537447a2.e222a",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 2",
        "x": 710,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8ec52590.f46828",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7403:3:303]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 2",
        "x": 700,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "78607267.67629c",
        "type": "inject",
        "z": "6be78bf1.74a41c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "95755bda.36a8d8",
                "97bd247e.d4f658",
                "da67c700.587d9",
                "8daccf18.e70458"
            ]
        ]
    },
    {
        "id": "ceee9c42.615888",
        "type": "inject",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "topic": "",
        "payload": "mode=off",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 120,
        "y": 420,
        "wires": [
            [
                "a03132e4.b8595",
                "6695a922.8d029",
                "8bcc6fc1.6663d8",
                "dc0af7ce.bd1728",
                "31f4ae16.944a62",
                "949ea13c.048f58",
                "28d22390.552df4",
                "1af06c71.7339cc",
                "c87e96c6.991ea",
                "b24fbf89.bd804",
                "ceeec65.f337d38",
                "9386d9f6.a6b08"
            ]
        ]
    },
    {
        "id": "97bd247e.d4f658",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7403:3:303]/temperature",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 2",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "4b05ac81.973ff4",
                "84ad4715.9f499"
            ]
        ]
    },
    {
        "id": "4b05ac81.973ff4",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "84ad4715.9f499",
        "type": "ui_gauge",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "daa3a66b.b751b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 2",
        "label": "degrees",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc0af7ce.bd1728",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Heater",
        "group": "a9142568.55f728",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 60,
        "wires": [
            [
                "6f9deaeb.b4c944"
            ]
        ]
    },
    {
        "id": "31f4ae16.944a62",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Ventilation",
        "group": "a9142568.55f728",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "e075eea0.776238"
            ]
        ]
    },
    {
        "id": "949ea13c.048f58",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Air conditioning",
        "group": "a9142568.55f728",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "39c04662.d36682"
            ]
        ]
    },
    {
        "id": "6f9deaeb.b4c944",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 1",
        "x": 680,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "39c04662.d36682",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 1",
        "x": 710,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e075eea0.776238",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7402:2:202]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 1",
        "x": 700,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "da67c700.587d9",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7404:4:404]/temperature",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 3",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "51e7e529.43e124",
                "feaeb074.e3ed1"
            ]
        ]
    },
    {
        "id": "51e7e529.43e124",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 300,
        "wires": []
    },
    {
        "id": "feaeb074.e3ed1",
        "type": "ui_gauge",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "4ebfc90a.e2073",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 3",
        "label": "degrees",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "8daccf18.e70458",
        "type": "coap request",
        "z": "6be78bf1.74a41c",
        "method": "GET",
        "observe": true,
        "url": "coap://[aaaa::212:7405:5:505]/temperature",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "COAP GET 4",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "8c606b80.54db9",
                "ce41b093.4cbbd8"
            ]
        ]
    },
    {
        "id": "8c606b80.54db9",
        "type": "debug",
        "z": "6be78bf1.74a41c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "ce41b093.4cbbd8",
        "type": "ui_gauge",
        "z": "6be78bf1.74a41c",
        "name": "",
        "group": "ecc1fbf5.602a28",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room 4",
        "label": "degrees",
        "format": "{{value}}",
        "min": "10",
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "17",
        "seg2": "24",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "28d22390.552df4",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Heater",
        "group": "4ebfc90a.e2073",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "486497d7.c20c2"
            ]
        ]
    },
    {
        "id": "1af06c71.7339cc",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Ventilation",
        "group": "4ebfc90a.e2073",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "2086e4b6.dcc5ac"
            ]
        ]
    },
    {
        "id": "c87e96c6.991ea",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Air conditioning",
        "group": "4ebfc90a.e2073",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 420,
        "y": 580,
        "wires": [
            [
                "2bf147ec.894868"
            ]
        ]
    },
    {
        "id": "486497d7.c20c2",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 3",
        "x": 680,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "2bf147ec.894868",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 3",
        "x": 710,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2086e4b6.dcc5ac",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7404:4:404]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 3",
        "x": 700,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b24fbf89.bd804",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Heater",
        "group": "ecc1fbf5.602a28",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 390,
        "y": 660,
        "wires": [
            [
                "63e4769c.b0a51"
            ]
        ]
    },
    {
        "id": "ceeec65.f337d38",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Ventilation",
        "group": "ecc1fbf5.602a28",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "55e68cfe.226664"
            ]
        ]
    },
    {
        "id": "9386d9f6.a6b08",
        "type": "ui_switch",
        "z": "d2732bf5.cd5b98",
        "name": "",
        "label": "Air conditioning",
        "group": "ecc1fbf5.602a28",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "mode=on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "mode=off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "da0d4b50.aa8d6"
            ]
        ]
    },
    {
        "id": "63e4769c.b0a51",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]/leds?color=r",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "HEAT 4",
        "x": 680,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "da0d4b50.aa8d6",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]/leds?color=b",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "CONDITIONING 4",
        "x": 710,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "55e68cfe.226664",
        "type": "coap request",
        "z": "d2732bf5.cd5b98",
        "method": "PUT",
        "observe": false,
        "url": "coap://[aaaa::212:7405:5:505]/leds?color=g",
        "content-format": "text/plain",
        "raw-buffer": false,
        "name": "VENTILATION 4",
        "x": 700,
        "y": 720,
        "wires": [
            []
        ]
    }
]
